div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #0b1622;
  }
  
  a,
  button {
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    margin-right: 20px;
    color: aliceblue;
    font-size: 18px;
    margin-top: 10px;
  
    &:hover {
      color: #0aa8cc;
      text-decoration: underline;
    }
  }